<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Standard Meta -->
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Sign up With Marketindex-Exchange to join thousands of traders currently benefiting from high leveraged full STP/ECN CFD trading with zero conflict of interest through tier one liquidity.">
        <meta name="keywords" content="Online Forex, Forex, ECN/STP Broker, @$/7 Support, THEALERTNATION">
        <meta name="author" content="MASI-TRADES-Exchange">
        <meta name="viewport" content="">
        <meta name="theme-color" content="#e9e8f0">
        <!-- Site Properties -->
        <title> Masi-Trades - Online Forex, Forex, ECN/STP Broker </title>
        <!-- Critical preload -->
        <!-- <script defer src="js/vendors/uikit.min.js"></script> -->
        <!-- <link rel="preload"  href="js/vendors/uikit.min.js" as="script"> -->
        <link rel="preload" href="css/vendors/uikit.min.css" as="style">
        <link rel="preload" href="css/style.css" as="style">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
              <!-- Bootstrap 3.3.7 -->
      <link rel="stylesheet" href="dist/bootstrap/css/bootstrap.min.css">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
      <!-- Ionicons -->
      <link rel="stylesheet" href="Ionicons/css/ionicons.min.css">
      <!-- Theme style -->
      <link rel="stylesheet" href="dist/css/AdminLTE.css">
      <!-- iCheck -->
      <link rel="stylesheet" href="plugins/iCheck/square/blue.css">
      <link href="img/logo.jpeg" rel="shortcut icon" type="image/jpeg">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <style type="text/css">
          .form-group #error {
            color: #a94442;
          }
          .goog-te-gadget .goog-te-combo {
              margin: 4px 0;
              width: 100%;
              padding: 7px;
              border-radius: 5px;
          }
        </style>
    </head>
    <body    style="background-color:#000;" class="body loaded" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
        <!-- Stylesheet -->
        <link rel="stylesheet" href="css/vendors/uikit.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://unpkg.com/aos%402.3.1/dist/aos.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">

        <script>
            // Detect request animation frame
    var scroll = window.requestAnimationFrame ||
                 // IE Fallback
                 function(callback){ window.setTimeout(callback, 1000/60)};
    var elementsToShow = document.querySelectorAll('.show-on-scroll'); 
    
    function loop() {
    
        Array.prototype.forEach.call(elementsToShow, function(element){
          if (isElementInViewport(element)) {
            element.classList.add('is-visible');
          } else {
            element.classList.remove('is-visible');
          }
        });
    
        scroll(loop);
    }
    
    loop();
    
 
    function isElementInViewport(el) {
      // special bonus for those using jQuery
      if (typeof jQuery === "function" && el instanceof jQuery) {
        el = el[0];
      }
      var rect = el.getBoundingClientRect();
      return (
        (rect.top <= 0
          && rect.bottom >= 0)
        ||
        (rect.bottom >= (window.innerHeight || document.documentElement.clientHeight) &&
          rect.top <= (window.innerHeight || document.documentElement.clientHeight))
        ||
        (rect.top >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight))
      );
    }
        </script>
        <style>
            .body {
        animation: fadeInAnimation ease 10s
        animation-iteration-count: 4;
        animation-fill-mode: forwards;
    }
    
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
        </style>
        
         <div id="google_translate_element2"></div>
    <script type="text/javascript">
    function googleTranslateElementInit2() {new google.translate.TranslateElement({pageLanguage: 'en',autoDisplay: false}, 'google_translate_element2');}
    </script>
    
    
     <script type="text/javascript">
        alert("Notice:All trades placed and investments are 100% secured so traders should be 100% confident as there will be always success in trade.");
    </script>
    
    
        <!-- preloader begin -->
        <div class="in-loader" style="background-color:#000;">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <!-- preloader end -->
        <header style="background-color:#000; color:#000;">
            <!-- header content begin -->
            <div class="uk-section uk-padding-small in-profit-ticker">
                <div class="uk-container">
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div data-uk-slider="autoplay: true; autoplay-interval: 5000" class="uk-slider uk-slider-container">
                                <ul class="uk-grid-large uk-slider-items uk-child-width-1-3@s uk-child-width-1-6@m uk-text-center uk-grid uk-transition" data-uk-grid="" style="transform: translate3d(-151.641px, 0px, 0px); transition-property: transform; transition-duration: 375.82ms; transition-timing-function: ease;">
                                    <li tabindex="-1" class="uk-active" style="order: 1;">
                                        <i class="fas fa-angle-up in-icon-wrap small circle up"></i> XAUUSD <span class="uk-text-success">1478.81</span>
                                    </li>
                                    <li tabindex="-1" class="uk-active" style="order: 1;">
                                        <i class="fas fa-angle-down in-icon-wrap small circle down"></i> GBPUSD <span class="uk-text-danger">1.3191</span>
                                    </li>
                                    <li tabindex="-1" class="uk-active" style="order: 1;">
                                        <i class="fas fa-angle-down in-icon-wrap small circle down"></i> EURUSD <span class="uk-text-danger">1.1159</span>
                                    </li>
                                    <li tabindex="-1" class="uk-active" style="order: 1;">
                                        <i class="fas fa-angle-up in-icon-wrap small circle up"></i> USDJPY <span class="uk-text-success">109.59</span>
                                    </li>
                                    <li tabindex="-1" class="uk-active" style="order: 1;">
                                        <i class="fas fa-angle-up in-icon-wrap small circle up"></i> USDCAD <span class="uk-text-success">1.3172</span>
                                    </li>
                                    <li tabindex="-1" class="uk-first-column" style="order: 1;">
                                        <i class="fas fa-angle-up in-icon-wrap small circle up"></i> USDCHF <span class="uk-text-success">0.9776</span>
                                    </li>
                                    <li tabindex="-1" class="uk-active">
                                        <i class="fas fa-angle-down in-icon-wrap small circle down"></i> AUDUSD <span class="uk-text-danger">0.67064</span>
                                    </li>
                                    <li tabindex="-1" class="uk-active">
                                        <i class="fas fa-angle-up in-icon-wrap small circle up"></i> GBPJPY <span class="uk-text-success">141.91</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-section uk-padding-remove-vertical">
                <!-- module navigation begin -->
                <nav class="uk-navbar-container uk-navbar-transparent"><!--data-uk-sticky="show-on-up: true; top: 80; animation: uk-animation-fade;"-->
                    <div class="uk-container uk-navbar" data-uk-navbar="">
                        <div class="uk-navbar-left uk-width-auto">
                            <div class="uk-navbar-item">
                                <!-- module logo begin -->
                                <a class="uk-logo" href="/">
                                    <img class="in-offset-top-10" src="img/logo.jpeg" data-src="img/logo.jpeg" alt="logo" width="330" height="20" data-uk-img="">
                                    <h5 >MASI-TRADES</h5>
                                </a>
                                <!-- module logo begin -->
                            </div>
                        </div>
                        <div class="uk-navbar-right uk-width-expand uk-flex uk-flex-right">
                            <ul class="uk-navbar-nav uk-visible@m">
                                <li class="uk-active"><a href="/">Home</a></li>
                                <li><a href="/about" style="color:#fff;">About</a></li>
                                <li><a href="/contact" style="color:#fff;">Contact</a></li>
                                <li><a href="/faq" style="color:#fff;">FAQ</a></li>
                            </ul>
        <div class="uk-navbar-item in-mobile-nav uk-hidden@m">
            <a class="uk-button" href="#modal-full" data-uk-toggle=""><i class="fas fa-bars"></i></a>
        </div>
        <div id="modal-full" class="uk-modal-full uk-modal" data-uk-modal="">
            <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" data-uk-height-viewport="">
                <a class="uk-modal-close-full uk-button"><i class="fas fa-times"></i></a>
                <div class="uk-width-large uk-padding-large">
                    <ul class="uk-nav-default uk-nav-parent-icon uk-nav" data-uk-nav="">
                                <li class="uk-active"><a href="/">Home</a></li>
                                <li><a href="/about" style="color:#fff;">About</a></li>
                                <li><a href="/contact" style="color:#fff;">Contact</a></li>
                                <li><a href="/faq" style="color:#fff;">FAQ</a></li>
                            </ul>
                    <a href="/login" class="uk-button uk-button-primary uk-border-rounded uk-align-center">LOGIN<i class="fas fa-sign-in-alt uk-margin-small-left"></i></a>
                </div>
            </div>
        </div>
        
                            <div class="uk-navbar-item uk-visible@m in-optional-nav">
                                <div>
                                    <a href="/login" class="uk-button uk-button-text">Login</a>
                                    <a href="/register" class="uk-button uk-button-text">Sign up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- module navigation end -->
            </div>
            <!-- header content end -->
        </header>





       