
<%- include('partials/dashboardHeader')%>


<div class="buy-header">
    <h2 style="color: blueviolet;">Buy Bitcoin</h2>
    <p class="text-light">with the links you can bitcoin with the recommnded links and exchanges</p>
</div>
<section class="content">
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
  

  
<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 mb-3">
      </div>

      <div class="col-md-12">
      <table class="table table-hover table-borderless table-striped">
        <thead>
        <tr>
          <th class="">Link</th>
        </tr>
      </thead>
      <tbody>
                          <tr>
            <td>
                <a href="https://www.exodus.com/" class="btn-link text-decoration-none">Exodus</a>
            </td>
            </tr>
                              <tr>
            <td>
                <a href="https://www.coinomi.com/en/buy/simplex/" class="btn-link text-decoration-none">Coinomi</a>
            </td>
            </tr>
                              <tr>
            <td>
                <a href="https://www.bitcoin.com/" class="btn-link text-decoration-none">Bitcoin.Com</a>
            </td>
            </tr>
                              <tr>
            <td>
                <a href="https://www.coinmama.com/" class="btn-link text-decoration-none">Coinmama</a>
            </td>
            </tr>
            <tr>
            <td>
                <a href="https://www.trustwallet.com/" class="btn-link text-decoration-none">TrustWallet</a>
            </td>
            </tr>
            
                              </tbody>
      </table>
          </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
</div>
</div>
</section>



<%- include('partials/dashboardFooter')%>