*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.offcanvas-header img{
    width: 120px;
    height: auto;
}
body{
    display: flex;
    flex-direction: column;
    background: #454545;
}

.nav-item{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    color: #8B0000;

}

.navbar{
    background: #454545 ;
    height: 75px;

}

.offcanvas{
    background: #454545;
    
}

.nav-link{
    color: white;
}




.welcome-container{
    margin-top: 5%;
}

@media (max-width:600px) {
    .welcome-container{
        margin-top: 20%;
    }
}

.welcome-container-body{
    display: flex;
}

.record-container{
    width: 100%;
    height: 40vh;
    margin-top: 5%;
}

.record-container-boxes{
    display: flex;
    justify-content: space-around;
}

.deposit-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background: whitesmoke;
    width: 220px;
    height: 180px;
    border-radius: 1vmin;
    box-shadow: 1px 1px 3px;
}

.widthdraw-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background: whitesmoke;
    width: 220px;
    height: 180px;
    border-radius: 1vmin;
    box-shadow: 1px 1px 3px;
}

.bonus-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background: whitesmoke;
    width: 220px;
    height: 180px;
    border-radius: 1vmin;
    box-shadow: 1px 1px 3px;
}

@media (max-width:600px) {
    .record-container{
        width: 100%;
        height: 100vh;
        margin-top: 5%;
    }
    .record-container-boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .deposit-box{
        margin-bottom: 50px;
    }
    .widthdraw-box{
        margin-bottom: 50px;
    }
}

.first-chart{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
#tradingview_b6a60{
   width: 1000px;
   height: 500px;
}
@media (max-width:600px) {

    .first-chart{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 1%; */
    }

    #tradingview_b6a60{
        width: 395px;
        height: 500px;
     }
}

.second-chart{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    
}

@media (max-width:600px) {
    .second-chart{
        width: 100%;
        height: 70vh;
        overflow: hidden;
    }
}

.third-container{
padding-top: 20%;
margin: 0 auto;
}

@media (max-width:600px) {
    .third-container{
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
}




















































.account-container{
   
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

@media (max-width:600px) {
    .account-container{
        margin-top: 30%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
}

.image-container{
    border: solid 1px white;
    box-shadow: 1px 1px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.image-container img{
    max-width: 130px;
}

.contact-container{
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid white;
    box-shadow: 1px 1px 3px;
    
}

.contact-container-header{
    position: absolute;
    right: 48%;
    
}

.deposit-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deposit-container-form-content{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body img{
    width: 180px;
}


@media (max-width:600px) {
    .deposit-container{
        width: 100%;
        height: 230vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .deposit-container-form-content{
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-body img{
        width: 80px;
        /* height: 150px; */
    }
  
}

@media (max-width:450px) {
    .deposit-container{
        margin-top: 30%;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .deposit-container-form-content{
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-body img{
        width: 150px;
    }
}
.deposit-history{
    width: 100%;
    height: 100vh;
    margin-top: 10%;
}


@media (max-width:600px) {
    .deposit-history{
        width: 100%;
        height: 100vh;
        margin-top: 25%;
    }
    
}

.widthdraw-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


















  


  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  /*
   * Navbar
   */

  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
  
  .navbar .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .content{
    margin-top: 10%;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
   
  }

  .buy-header{
    margin-top: 7%;
    text-align: center;
  }

  @media (max-width:600px) {
    .content{
        margin-top: 10%;
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
       
      }
  }

  @media (max-width:450px) {
    .content{
        margin-top: 30%;
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
       
      }
      .buy-header{
        margin-top: 30%;
        text-align: center;
      }
  }


  .chat-app{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }